<!DOCTYPE html>
<html lang="en">
    <head>
        <title>indexSample</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/talk" method="post">
        <label for="back1">
            <input type="radio" id="back1" name="background" value="1">１<br>
        </label>
        <label for="back2">
            <input type="radio" id="back2" name="background" value="2">２<br>
        </label>
        <label for="back3">
            <input type="radio" id="back3" name="background" value="3">３<br>
        </label>
            <input type="submit" name="submit" value="送信！">
        </form>
    </body>
</html>